.bg-img {
    margin: auto;
    width: 100%;
}

.container {
    margin: 20px auto;
    width: 50%;
    padding: 16px;
    background-color: transparent;
}

.create-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.create-container h1 {
    color: #3d3b58;
    text-transform: uppercase;
    margin: 10px;
}

.create-container p {
    margin: 10px;
}

/* Full-width input fields */
.create-icon {
    display: flex;
    margin: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.create-input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    color: #5a5677;
}

.create-input:focus {
    background-color: transparent;
    outline: none;
}

/* Set a style for the submit button */
.create-btn {
    background-color: #fd9e2e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    text-transform: uppercase;
}

.create-btn:hover {
    opacity: 1;
}

.create-icon textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    resize: none;
    outline: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {}