.dest_section {
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dest-heading-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
  color: #3d3b58;
  font-size: 30px;
}

.heading_container hr {
  width: 10%;
  height: 2px;
  border: none;
  margin: 10px 0;
  margin-right: 10px;
  background-color: #7e7ca8;
}

.heading_container h2 {
  margin: 0;
}

.container-dest {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.container-dest {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dest_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.no-articles {
  font-size: 40px;
  color: #3d3b58;
}


@media only screen and (max-width: 992px) {
  .dest_container {
    flex-direction: row;
  }

  .box {
    flex: 1 2 auto;
  }
}

@media only screen and (max-width: 768px) {
  .box {
    width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .box {
    width: 150px;
  }
}