.footer_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #2e2e2e;
  padding: 20px 15px;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: white;
}

.footer_section a {
  color: white;
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}