* {
  box-sizing: border-box;
}

.bg-img {
  display: flex;
  margin: 10px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.login-header {
  color: #3d3b58;
  text-transform: uppercase;
  margin: 20px;
}

.container {
  margin: 20px;
  width: 50%;
  padding: 16px;
  background-color: transparent;
}

/* Full-width input fields */

.login-icon-container {
  display: flex;
  margin: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.login-icon-container {
  color: #5a5677;
  margin-left: 10px;
}

.login-icon-container span {
  margin: 10px;
  font-size: 20px;
}

.login-input {
  width: 100%;
  padding-left: 15px;
  margin: 20px 0 20px 0;
  border: none;
  outline: none;
  color: #5a5677;
  background-color: transparent;
}

.login-input:focus {
  background-color: transparent;
}

.login-input::placeholder {
  color: #5a5677;
  text-transform: uppercase;
  font-size: 15px;
}

/* Set a style for the submit button */
.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fd9e2e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
}

.btn:hover {
  opacity: 1;
}

.login-icon {
  margin: 0 10px;
  font-size: 20px;
}

.reg {
  text-align: end;
  font-size: 20px;
  margin: 10px;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}