body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-img {
    margin: 10px;
    width: 100%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

.register-content {
    text-align: center;
}

.register-content h1 {
    color: #3d3b58;
    text-transform: uppercase;
    margin: 10px auto;
}

.register-content p {}

/* Full-width input fields */

.reg-icon-container {
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.reg-icon-container span {
    font-size: 20px;
    margin: 10px;
}

.register-input {
    width: 100%;
    margin: 20px 0 20px 0;
    display: inline-block;
    border: none;
    background: transparent;
    border-radius: 5px;
    outline: none;
}

.register-input {
    outline: none;
}

.register-input::placeholder {
    text-transform: uppercase;
    color: #5a5677;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd9e2e;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    text-transform: uppercase;
}

.register-btn:hover {
    opacity: 1;
}

.register-btn span {
    margin: 10px;
    font-size: 20px;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    text-align: end;
    font-size: 20px;
}

.bg-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: transparent;
}

@media only screen and (max-width: 992px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}